<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Sign up to be a rider!</small>
          </div>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group"
                 [ngClass]="{ 'has-danger': f.name.errors && f.name.value != '',  'has-success': !f.name.errors}">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" formControlName="name" [ngClass]="{ 'is-invalid': f.name.errors }"
                       placeholder="Name" type="text">
              </div>
              <div *ngIf="submitted && f.name.errors">
                <p style="font-size: small; color: red" *ngIf="f.name.errors">A name is required</p>
              </div>
            </div>
            <div class="form-group"
                 [ngClass]="{ 'has-danger': f.email.errors && f.email.value != '',  'has-success': !f.email.errors}">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': f.email.errors }"
                       placeholder="Email" type="email">
              </div>
              <div *ngIf="submitted && f.email.errors">
                <p style="font-size: small; color: red" *ngIf="f.email.errors">An email is required</p>
              </div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-danger': f.password.errors && f.password.value != '',  'has-success': !f.password.errors}">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" type="password" formControlName="password"
                       [ngClass]="{ 'is-invalid': f.password.errors }" placeholder="Password">
              </div>
              <div *ngIf="submitted && f.password.errors">
                <p style="font-size: small; color: red" *ngIf="f.password.errors">Password is required and must be at
                  least 8 chars</p>
              </div>
            </div>
            <div class="text-center form-group">
              <button [disabled]="loading" type="submit" class="btn btn-primary my-4">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
