<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row" style="display: flex; justify-content: space-around">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total Riders</h5>
                  <span class="h2 font-weight-bold mb-0">{{totalItems}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm" style="height: 20px">
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Average Time of Delivery</h5>
                  <span class="h2 font-weight-bold mb-0">{{avgTime === null ? '-' : millisToMinutesAndSeconds(avgTime) + ' min' }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm" style="height: 20px">
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Average Rating of All Riders</h5>
                  <span class="h2 font-weight-bold mb-0">{{avgRating !== null ? avgRating.toFixed(1) : "-"}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm" style="height: 20px">

              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Orders in Progress</h5>
                  <span class="h2 font-weight-bold mb-0">
                    {{inProgress}}
                  </span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm" style="height: 20px">

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Riders</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Number of Orders</th>
              <th scope="col">Average Rating</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rider of riders | paginate: { itemsPerPage: 7 , currentPage: currentPage,
                            totalItems: totalItems }">
              <th scope="row">
                <div class="media-body">
                  <span class="mb-0 text-sm">{{rider.name}}</span>
                </div>
              </th>
              <td>
                {{rider.numberOrders}}
              </td>
              <td>
                <ng-container *ngIf="rider.average !== null">
                  <ng-container
                    *ngFor="let i of [].constructor(math.ceil(rider.average))">
                    <fa-icon [icon]="starIcon"></fa-icon>
                  </ng-container>
                  <ng-container
                    *ngFor="let i of [].constructor(math.round(rider.average) - math.ceil(rider.average))">
                    <fa-icon [icon]="halfStarIcon"></fa-icon>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="rider.average === 0">-</ng-container>
              </td>
            </tr>
            </tbody>
          </table>
          <h3 *ngIf="riders.length === 0"
              style="width: 100%; height: 100%; text-align: center; vertical-align: center">
            There are no Riders</h3>
        </div>
        <div class="card-footer py-4">
          <nav *ngIf="riders.length !== 0"
               style="display: flex; justify-content: center" class="mt-4"
               aria-label="Page navigation sample">
            <pagination-controls
              (pageChange)="getPage($event)"></pagination-controls>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
