<nav id="navbar-main"
     class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
    <div class="container">
        <a class="navbar-brand mr-lg-5" [routerLink]="['/shop']">
            <img style="height: 50px" src="./assets/img/logo.png">
        </a>
        <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a [routerLink]="['/shop']">
                            <img src="./assets/img/logo.png">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                                [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                <li *ngIf="false" class="nav-item d-none d-lg-block ml-lg-4">
                    <a [routerLink]="['/login']" class="btn btn-neutral btn-icon">
                        <span class="btn-inner--icon">
                          <i class="fa fa-sign-in mr-2"></i>
                        </span>
                        <span class="nav-link-inner--text">Login</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" [routerLink]="['/profile']">
                        <fa-icon [icon]="userIcon"></fa-icon> Profile
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" [routerLink]="['/shopping-cart']">
                        <fa-icon [icon]="cartIcon"></fa-icon> 2
                    </a>
                </li>
                <li class="nav-item d-none d-lg-block ml-lg-4">
                    <a [routerLink]="['/login']" class="btn btn-neutral btn-icon">
                        <span class="btn-inner--icon">
                          <i class="fa fa-sign-out mr-2"></i>
                        </span>
                        <span class="nav-link-inner--text">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
