<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
     style="min-height: 200px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/theme/user.jpeg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">{{totalItems}}</span>
                  <span class="description">Deliveries</span>
                </div>
                <div>
                  <span class="heading">{{totalNumReviews}}</span>
                  <span class="description">Reviews</span>
                </div>
                <div>
                  <span class="heading">{{(avgReviews === null ? '-' : avgReviews | number:'1.1-1')}}</span>
                  <span class="description">Average Rating</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Last Deliveries</h3>
            </div>
            <div class="col-4 text-right">
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Table -->
          <div class="row">
            <div class="col">
              <div class="card shadow">
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Store</th>
                      <th scope="col">Client</th>
                      <th scope="col">Status</th>
                      <th scope="col">Review</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let purchase of purchases | paginate: { itemsPerPage: 7 , currentPage: currentPage,
                            totalItems: totalItems }">
                      <th>
                        {{purchase.date | date:'medium'}}
                      </th>
                      <td>
                        {{purchase.store.name}}
                      </td>
                      <td>
                        {{purchase.clientName}}
                      </td>
                      <td>
                        <span class="badge badge-dot mr-4">
                    <i [ngClass]="(purchase.status === 'DELIVERED' ? 'bg-success' : 'bg-warning')"></i>
                          {{purchase.status}}
                  </span>
                      </td>
                      <td>
                        <ng-container *ngIf="purchase.riderReview !== null">
                          <ng-container
                            *ngFor="let i of [].constructor(purchase.riderReview)">
                            <fa-icon [icon]="starIcon"></fa-icon>
                          </ng-container>
                        </ng-container>
                        <ng-container *ngIf="purchase.riderReview === null">-</ng-container>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <h3 *ngIf="purchases.length === 0"
                      style="width: 100%; height: 100%; text-align: center; vertical-align: center">
                    There are no deliveries history</h3>
                </div>
                <div class="card-footer py-4">
                  <nav *ngIf="purchases.length !== 0"
                       style="display: flex; justify-content: center" class="mt-4"
                       aria-label="Page navigation sample">
                    <pagination-controls
                      (pageChange)="getPage($event)"></pagination-controls>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
