<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Or sign in with credentials</small>
              </div>
              <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group mb-3" [ngClass]="{ 'has-danger': f.email.errors && f.email.value != '',  'has-success': !f.email.errors}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': f.email.errors }" placeholder="Email" type="email">
                  </div>
                  <div *ngIf="submitted && f.email.errors" >
                    <p style="font-size: small; color: red" *ngIf="f.email.errors">An email is required</p>
                  </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-danger': f.password.errors && f.password.value != '',  'has-success': !f.password.errors}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" type="password" formControlName="password" [ngClass]="{ 'is-invalid': f.password.errors }" placeholder="Password">
                  </div>
                  <div *ngIf="submitted && f.password.errors" >
                    <p style="font-size: small; color: red" *ngIf="f.password.errors">Password is required and must be at least 8 chars</p>
                  </div>
                </div>
                <div class="text-center form-group">
                  <button [disabled]="loading" type="submit" class="btn btn-primary my-4">Sign in</button>
                </div>
              </form>
            </div>
          </div>
          <div class="row mt-3" style="display: flex; justify-content: center">
            <div class="col-6 text-center">
              <a [routerLink]="['/register']" class="text-light">
                <small>Create new account</small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
