<main class="profile-page" style="min-height: 80vh">
    <section class="section-profile-cover section-shaped my-0" style="height: 150px">
        <!-- Circles background -->
        <div class="shape shape-style-1 shape-primary alpha-4">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2400 100" preserveAspectRatio="none" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2400 0 2400 100 0 100"></polygon>
            </svg>
        </div>
    </section>
    <section class="section-content padding-y">
        <div class="container">
            <div class="row">
                <main class="col-md-9">
                    <div class="card">
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Product</th>
                                <th scope="col" width="120">Quantity</th>
                                <th scope="col" width="120">Price</th>
                                <th scope="col" class="text-right" width="200"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let product of getCartService().productsValue">
                                <td>
                                    <figure class="itemside">
                                        <div class="aside"><img src="{{product.image_url}}" style="height: 100px"
                                                                class="img-sm"></div>
                                        <figcaption class="info" style="text-align: left">
                                            <a class="title text-dark">{{product.name}}</a>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td>
                                    <select (change)="getCartService().changeQuantityProduct(product, $event.target.value)"
                                            [selectedIndex]="product.quantity-1" class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                    </select>
                                </td>
                                <td>
                                    <div class="price-wrap">
                                        <var class="price">{{product.price * product.quantity}}€</var>
                                        <br>
                                        <small class="text-muted"> {{product.price}}€ each </small>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <a (click)="getCartService().removeProduct(product)" style="color: white"
                                       class="btn btn-light"> Remove</a>
                                </td>
                            </tr>

                            </tbody>
                        </table>

                        <div *ngIf="getCartService().totalProducts > 0" class="card-body border-top"
                             style="color: white">
                            <a (click)="openBuy()" class="btn btn-primary float-md-right"> Make Purchase <i
                                    class="fa fa-chevron-right"></i> </a>
                            <a [routerLink]="['/shop']" class="btn btn-light"> <i class="fa fa-chevron-left"></i>
                                Continue shopping </a>
                        </div>

                        <h5 *ngIf="getCartService().totalProducts === 0" style="text-align: center">The cart is
                            empty!</h5>
                    </div>
                </main>
                <aside class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <dl class="dlist-align">
                                <dt>Total:</dt>
                                <dd class="text-right  h5"><strong>{{getCartService().totalPrice}}€</strong></dd>
                            </dl>
                            <hr>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
</main>
