<main class="profile-page" style="min-height: 80vh">
    <section class="section-profile-cover section-shaped my-0" style="height: 150px">
        <!-- Circles background -->
        <div class="shape shape-style-1 shape-primary alpha-4">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2400 100" preserveAspectRatio="none" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2400 0 2400 100 0 100"></polygon>
            </svg>
        </div>
    </section>

    <section class="section-content padding-y">
        <div class="container">

            <div class="row">
                <aside class="col-md-3">

                    <div class="card">
                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true"
                                   class="">
                                    <h6 class="title">Category </h6>
                                </a>
                            </header>
                            <div class="filter-content collapse show" id="collapse_2" style="">
                                <div class="card-body">
                                    <button class="btn btn-sm btn-primary" [ngClass]="{ 'active': category === 'LATHES' }" (click)="getCategory($event.target.innerText)" type="button">Lathes</button>
                                    <button class="btn btn-sm btn-primary" [ngClass]="{ 'active': category === 'PRESSES' }" (click)="getCategory($event.target.innerText)" type="button">Presses</button>
                                    <button class="btn btn-sm btn-primary" [ngClass]="{ 'active': category === 'SCREWDRIVER' }" (click)="getCategory($event.target.innerText)" type="button">Screwdriver</button>
                                    <button class="btn btn-sm btn-primary" [ngClass]="{ 'active': category === 'PLIERS' }" (click)="getCategory($event.target.innerText)" type="button">Pliers</button>
                                    <button class="btn btn-sm btn-primary" [ngClass]="{ 'active': category === 'SCREWS' }" (click)="getCategory($event.target.innerText)" type="button">Screws</button>
                                    <button class="btn btn-sm btn-primary" [ngClass]="{ 'active': category === 'NAILS' }" (click)="getCategory($event.target.innerText)" type="button">Nails</button>
                                    <button class="btn btn-sm btn-primary" [ngClass]="{ 'active': category === 'WASHER' }" (click)="getCategory($event.target.innerText)" type="button">Washer</button>
                                </div>
                            </div>
                        </article>
                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true"
                                   class="">
                                    <h6 class="title">Price range </h6>
                                </a>
                            </header>
                            <div class="filter-content collapse show" id="collapse_3" style="">
                                <form ngForm (ngSubmit)="getProducts()" class="card-body">
                                    <div class="form-row" >
                                        <div class="form-group col-md-6">
                                            <label>Min</label>
                                            <input class="form-control" (change)="getMinPrice($event.target.value)" placeholder="0€" type="number">
                                        </div>
                                        <div class="form-group text-right col-md-6">
                                            <label>Max</label>
                                            <input class="form-control" (change)="getMaxPrice($event.target.value)" placeholder="1000€" type="number">
                                        </div>
                                    </div> <!-- form-row.// -->
                                    <button type="submit" class="btn btn-block btn-primary">Apply</button>
                                </form><!-- card-body.// -->
                            </div>
                        </article> <!-- filter-group .// -->
                    </div> <!-- card.// -->

                </aside> <!-- col.// -->
                <main class="col-md-9">

                    <header class="border-bottom  mb-4 pb-3"
                            style="display: flex; align-items: center; margin-bottom: 15px">
                        <span>{{totalItems}} Item{{totalItems !== 1 ? 's' : ''}} found </span>
                        <form ngForm (ngSubmit)="getProducts()" class="search col-md-6 col-sm-12" style="margin: 0">
                            <div class="input-group w-100">
                                <input type="text" class="form-control" (change)="getName($event.target.value)" placeholder="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <select (change)="getOrderBy($event.target.value)" class="mr-2 form-control col-md-3" style="margin: 0">
                            <option>Latest items</option>
                            <option>Cheapest</option>
                        </select>
                    </header>

                    <h5 *ngIf="products.length === 0" style="text-align: center">There are no products!</h5>

                    <div class="row">
                        <div *ngFor="let product of products | paginate: { itemsPerPage: 9 , currentPage: currentPage,
                            totalItems: totalItems }" class="col-md-4">
                            <figure class="card card-product-grid">
                                <div class="img-wrap" style="display: flex; justify-content: center">
                                    <img src="{{product.image_url}}" style="height: 100px">
                                </div> <!-- img-wrap.// -->
                                <figcaption class="info-wrap">
                                    <div class="fix-height">
                                        <a href="#" class="title">{{product.name}}</a>
                                        <div class="price-wrap mt-2">
                                            <span class="price">{{product.price}}€</span>
                                        </div> <!-- price-wrap.// -->
                                    </div>
                                    <a style="color: white" (click)="addToCart(product)" class="btn btn-block btn-primary">Add to cart </a>
                                </figcaption>
                            </figure>
                        </div> <!-- col.// -->
                    </div> <!-- row end.// -->

                    <nav *ngIf="products.length !== 0" style="display: flex; justify-content: center" class="mt-4"
                         aria-label="Page navigation sample">
                        <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
                    </nav>

                </main> <!-- col.// -->

            </div>

        </div> <!-- container .//  -->
    </section>
</main>
